:root {
	--main-color: #623e89;
	--custom-color: #4f356c;
	--default-color: #000;
	--sub-color: #4d4a4a;
	--light-color: #fff;
	--main-gradient: linear-gradient(208deg, #4f356c 0%, #121212 100%);
	--block-color: #313131;
	--light-bg-color: #dddcdc;
	--default-bg-color: #575656;
	--block-bg-color: rgba(79, 53, 108, 0.6);
	--unit-color: #56544f;
	--form-bg-color: rgba(221, 220, 220, 0.7);
	--default-gradient: linear-gradient(89.96deg, #EFEFEF 72.36%, rgba(239, 239, 239, 0) 92.8%);
	--custom-gradient: linear-gradient(89.99deg, rgba(98, 62, 137, 0.6) 63.21%, rgba(98, 62, 137, 0.324) 89.22%, rgba(239, 239, 239, 0) 106.53%);
	--unit-bg-color: rgba(231, 231, 231, 0.5);
	--active-bg-color: rgba(98, 62, 137, 0.6);
	--border-color: rgba(98, 62, 137, 0.5);
	--tab-active-color: rgba(98, 62, 137, 0.3);
	--dark-bg-color: rgba(79, 53, 108, 1);
	--stub-color: #d9d9d9;
  }


*::-webkit-input-placeholder {
	color: var(--default-color);
	opacity: 0.4;
}
*:-moz-placeholder {
	color: var(--default-color);
	opacity: 0.4;
}
*::-moz-placeholder {
	color: var(--default-color);
	opacity: 0.4;
}
*:-ms-input-placeholder {
	color: var(--default-color);
	opacity: 0.4;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "Montserrat";
	font-size: 20px;
	line-height: 135%;
	font-weight: 300;
	overflow-x: hidden;
	margin: 0;
	color: var(--default-color);
	background-color: var(--light-color);
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}
a, button, input, img {
	transition: all 0.3s;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}

.header {
	font-size: 15px;
	line-height: 19px;
	position: relative;
	font-weight: 500;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	background: var(--light-bg-color);
}
.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__left {
	display: flex;
}
.header__left .logo {
	margin-right: 3px;
	align-self: center;
}
.header__left .logo img {
	width: 95px;
}
.logo img {
	width: 128px;
	height: auto;
	display: block;
}
.header__contacts {
	margin: 8px 0;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid rgba(0, 0, 0, 0.5);
}
.header__contacts a {
	color: var(--default-color);
}
.header__contacts a:hover {
	color: var(--main-color);
}
.header-top {
	padding: 8px 0;
}
.header__contacts li {
	margin-bottom: 10px;
}
.header__contacts li:last-child {
	margin-bottom: 0;
}
.header__contacts strong {
	font-weight: 600;
}
.header__mail {
	font-size: 13px;
}
.header__contacts:not(:last-child) {
	text-transform: uppercase;
}
.location-main {
	display: inline-flex;
	align-items: center;
	color: var(--default-color);
}
.location-main::before {
	position: relative;
	display: block;
	content: " ";
	width: 32px;
	height: 32px;
	margin-right: 3px;
	background-image: url(../img/location.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.btn-main {
	font-size: 24px;
	padding: 0 23px;
	height: 51px;
	border: 1.50px solid var(--custom-color);
	border-radius: 100px;
	font-weight: 500;
	background: transparent;
	font-family: "Montserrat";
	color: #0a0a0a;
	display: inline-flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	cursor: pointer;
}
.btn-main:hover {
	color: var(--light-color);
	background: var(--custom-color);
}
.btn-main.btn-main_page {
	font-weight: 600;
	color: var(--light-color);
	background: var(--default-bg-color);
	border: none;
}
.btn-main.btn-main_page:hover {
	background: #383737;
}
.header .btn-main {
	padding: 0 51px;
	height: 55px;
}
.header-bottom {
	background: var(--main-color);
}
.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}
.menu li {
	flex-grow: 1;
}
.menu li a {
	height: 75px;
	font-size: 16px;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: var(--light-color);
	transition: all 0.7s;
}
.menu li a:hover {
	background-color: #4f267a;
}

.billbord {
	min-height: 463px;
	padding-top: 180px;
	padding-bottom: 115px;
	color: var(--light-color);
	background-image: url(../img/billbord1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.title-big {
	font-size: 46px;
	margin-bottom: 13px;
	line-height: 56px;
	font-weight: 600;
}
.billbord .title-big {
	max-width: 727px;
}
.descr-big {
	font-size: 29px;
	line-height: 35px;
	font-weight: 600;
}

.about {
	position: relative;
}
.about::after {
	position: absolute;
	display: block;
	content: " ";
	width: 377px;
	height: 1479px;
	top: 121px;
	right: -15px;
	z-index: -1;
	background-image: url(../img/bg_about.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.numbers-block {
	font-size: 13px;
	line-height: 17px;
	margin: 0 84px;
	margin-top: -90px;
	margin-bottom: 45px;
	position: relative;
	z-index: 2;
	font-weight: 600;
	color: var(--light-color);
	background: var(--block-bg-color);
	background-image: url(../img/bg_numb.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
.item-number__value {
	font-size: 46px;
	line-height: 57px;
	margin-bottom: 17px;
}
.numbers-block .row .col_numbers {
	padding: 42px 50px;
}
.col_numbers:nth-child(2) {
	font-size: 14px;
	line-height: 18px;
	background: var(--light-bg-color);
	color: var(--unit-color);
}
.text-page {
	font-size: 27px;
	line-height: 33px;
}
.text-page strong {
	font-size: 29px;
	font-weight: 600;
}
.bottom-button {
	padding-top: 14px;
	text-align: right;
}

.news {
	padding-top: 72px;
}
.title-section {
	font-size: 38px;
	line-height: 53px;
	padding-bottom: 26px;
	font-weight: 600;
}
.news .title-section {
	padding-left: 44px;
}
.slider-news .slick-track {
	display: flex !important;
}
.slider-news .slick-slide {
	padding: 0 25px;
	height: inherit !important;
}
.item-news {
	width: 341px;
	border-radius: 43px;
	min-height: 100%;
	color: var(--default-color);
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}
.item-news__image {
	height: 260px;
	border-radius: 40px 40px 0 0;
	background: var(--stub-color);
	display: block;
	width: 100%;
	overflow: hidden;
}
.item-news__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 40px 40px 0 0;
	transition: all 1s;
}
.item-news__content {
	padding: 11px 39px;
	padding-bottom: 23px;
	border-radius: 0 0 40px 40px;
	background: var(--block-bg-color);
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.item-news__title {
	font-size: 23px;
	line-height: 29px;
	margin-bottom: 2px;
	font-weight: 600;
	width: 100%;
	display: block;
}
.item-news__date {
	font-size: 14px;
	font-weight: 600;
	line-height: 19px;
	color: var(--sub-color);
	display: block;
	width: 100%;
	margin-top: auto;
}
.slider-news .slick-slide:not(.slick-active) .item-news {
	opacity: 0.5;
}
.slick-arrow {
	width: 50px;
	height: 50px;
	opacity: 0.5;
	top: 50%;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.5s;
}
.slick-arrow::before {
	display: none;
}
.slick-arrow img {
	max-width: 100%;
}
.slick-prev {
	left: 0;
}
.slick-next {
	right: 0;
}
.slick-arrow:hover {
	opacity: 1;
}
.slider-news .slick-arrow {
	left: 0;
	right: 0;
	margin: 0 auto;
}
.slider-news .slick-prev {
	left: -1175px;
}
.slider-news .slick-next {
	right: -1175px;
}
.slider-news:not(.slick-initialized) > li:not(:first-child) {
	display: none;
}

.payment-online {
	padding-top: 117px;
}
.payment-online .title-section {
	padding-bottom: 23px;
	text-align: center;
}
.item-form {
	margin-bottom: 11px;
}
.item-form input {
	height: 74px;
	padding: 0 32px;
	font-size: 24px;
	line-height: 30px;
	border-radius: 45px;
	border: 1.50px solid var(--custom-color);
	backdrop-filter: blur(50px);
	background: var(--form-bg-color);
	width: 100%;
	font-family: "Montserrat";
	color: var(--default-color);
}
.payment-online .bottom-button{
	padding-top: 30px;
}
.contacts {
	padding-top: 108px;
}
.map-wrap iframe {
	height: 612px !important;
	width: 100% !important;
	border: none;
	display: block;
}
#map {
	height: 612px;
	width: 100%;
	background-color: #ddd;
}
.contacts .container {
	position: relative;
}
.content-map {
	top: 53px;
	width: 394px;
	left: 15px;
	padding: 19px 35px;
	font-size: 14px;
	padding-bottom: 10px;
	max-height: 506px;
	line-height: 19px;
	font-weight: 600;
	color: var(--light-color);
	overflow: auto;
	z-index: 10;
	position: absolute;
	z-index: 1;
}
.content-map::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	backdrop-filter: blur(60px);
	background: var(--main-gradient);
	opacity: 0.7;
	z-index: -1;
}
.content-map__title {
	font-size: 27px;
	line-height: 30px;
	margin-bottom: 16px;
	font-weight: 600;
	text-align: center;
}
.content-map li a {
	color: var(--light-color);
	border-bottom: 1px transparent solid;
}
.content-map li a:hover {
	border-color: var(--light-color);
}
.content-map li {
	margin-bottom: 7px;
}
.content-map ul {
	padding-bottom: 5px;
}
.content-map ul:last-child {
	padding-bottom: 0;
}
.baloon-content strong {
	display: block;
}
#map .ymaps-2-1-79-balloon__tail,
#map .ymaps-2-1-79-balloon__close-button {
	display: none;
}
#map .ymaps-2-1-79-balloon {
	box-shadow: none;
}

.footer {
	padding: 62px 0;
	font-size: 14px;
	line-height: 19px;
	font-weight: 600;
	color: var(--light-color);
	background: var(--block-color);
}
.footer__info {
	text-transform: uppercase;
}
.footer__info a {
	color: var(--light-color);
}
.footer .logo {
	margin-top: -28px;
	margin-bottom: 43px;
	vertical-align: middle;
	display: inline-block;
}
.footer__column {
	min-height: 100%;
	border-right: 1px solid rgba(0, 0, 0, 0.5);
}
.footer__title {
	font-size: 23px;
	margin-bottom: 33px;
	line-height: 27px;
	font-weight: 700;
}
.footer__nav {
	font-size: 16px;
	line-height: 22px;
	font-weight: 600;
	text-transform: capitalize;
}
.footer__nav li {
	margin-bottom: 10px;
}
.footer__nav a {
	color: var(--light-color);
}
.footer__info a:hover,
.footer__contact a:hover,
.footer__nav a:hover {
	color: #9270b7;
}
.footer__contact {
	margin-bottom: 10px;
}
.footer__contact p {
	font-size: 15px;
	text-transform: uppercase;
}
.footer__contact a {
	color: var(--light-color);
}
.footer__contact span {
	color: rgba(255, 255, 255, 0.6);
	text-transform: capitalize;
}
.footer__contact_mail p {
	font-size: 16px;
}
.socials-list {
	display: flex;
	align-items: center;
}
.socials-list li {
	margin-right: 21px;
}
.socials-list li:last-child {
	margin-right: 0;
}
.socials-list a {
	width: 48px;
	height: 49px;
	border-radius: 10px;
	background: var(--light-color);
	display: flex;
	align-items: center;
	justify-content: center;
}
.socials-list a img {
	max-width: 100%;
	max-height: 100%;
}
.socials-list a:hover {
	opacity: 0.7;
}
.footer .socials-list {
	padding-top: 5px;
	margin-bottom: -10px;
}
.footer .btn-main {
	height: 55px;
	padding: 0 55px;
	background: var(--light-bg-color);
	border: none;
	font-weight: 600;
	color: var(--default-color);
}
.footer .btn-main:hover {
	background: var(--light-color);
}
.footer__column_right {
	border: none;
}
.footer__column_right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.footer .row > div:nth-child(2) .footer__column {
	margin-left: 20px;
}
/*Style Sandwich*/
.sandwich span {
	display: block;
}
.sandwich {
	width: 43px;
	height: 43px;
	padding-top: 11px;
	background: var(--custom-color);
	border-radius: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	display: none;
	flex-direction: column;
	align-items:center;
	z-index: 20;
	flex: none;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 20px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: var(--light-color);
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sw-bottom {
	position: relative;
	top: 8px;
	width: 20px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: var(--light-color);
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sw-footer {
	position: relative;
	top: 12px;
	width: 20px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: var(--light-color);
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sandwich.active .sw-topper {
	top: 10px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top: 6px;
	transform: rotate(-45deg); 
}
.slick-dots {
	bottom: 0;
	left: 0;
	width: 100%;
}
.slick-dots li {
	width: 10px;
	height: 10px;
}
.slick-dots li button {
	width: 10px;
	height: 10px;
	background-color: var(--block-bg-color);
	border-radius: 50%;
	padding: 0;
	border: none;
	transition: all 0.3s;
}
.slick-dots li button:hover,
.slick-dots li.slick-active button {
	background-color: var(--dark-bg-color);
}
.menu-overlay,
.header-bottom__mobile {
	display: none;
}
.breadcrumbs {
	padding-top: 36px;
	padding-bottom: 32px;
	font-size: 14px;
	font-weight: 600;
	line-height: 143%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	color: var(--sub-color);
}
.breadcrumbs a {
	color: var(--sub-color);
	border-bottom: 1px solid transparent;
}
.breadcrumbs a:hover {
	border-color: var(--sub-color);
}
.breadcrumbs li::after {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	content: " ";
	width: 5px;
	height: 5px;
	margin: 0 12px;
	border-radius: 50%;
	background: #4c4a4a;
}
.breadcrumbs li:last-child::after {
	display: none;
}
.tabs-page {
	margin-bottom: 36px;
	display: flex;
	align-items: center;
}
.tabs-page a {
	font-size: 24px;
	padding: 0 23px;
	height: 51px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	color: var(--default-color);
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
	text-align: center;
}
.tabs-page li {
	margin-right: 20px;
}
.tabs-page li:last-child {
	margin-right: 0;
}
.tabs-page .active a,
.tabs-page a:hover {
	background: var(--tab-active-color);
}
.title-page {
	font-size: 30px;
	line-height: 34px;
	padding-bottom: 22px;
	margin-bottom: 10px;
	max-width: 947px;
	border-bottom: 1px solid var(--border-color);
	font-weight: 600;
}
.page-about .text-page p {
	margin-bottom: 25px;
}
.page-about .text-page p:last-child {
	margin-bottom: 0;
}
.page-about .text-page img {
	margin: 42px 0;
	max-width: 100%;
	height: auto;
	display: block;
}
.head-about {
	font-size: 30px;
	line-height: 37px;
	max-width: 616px;
	margin: 0 auto;
	margin-bottom: 88px;
}
.head-about .title-middle {
	margin-bottom: 16px;
}
.about-main {
	padding-top: 52px;
}
.title-middle {
	font-size: 27px;
	line-height: 30px;
	font-weight: 600;
}
.page-about {
	padding-bottom: 35px;
}
.about-main {
	background-image: url(../img/bg_about_main.svg);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}
.item-about__image {
	height: 391px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-about__image img {
	max-width: 100%;
	max-height: 100%;
}
.item-about {
	margin-bottom: 80px;
	text-align: center;
}
.item-about .text-page {
	max-width: 527px;
	margin: 0 auto;
}
.about-main .container > .title-middle {
	margin-bottom: 20px;
}
.requisites {
	padding: 38px 0;
	background: var(--light-bg-color);
}
.requisites .text-page strong {
	font-size: inherit;
}
.requisites .text-page p {
	margin: 0;
}
.license {
	padding-top: 164px;
	padding-bottom: 80px;
	background-image: url(../img/bg_license.svg);
	background-repeat: repeat-x;
	background-position: center;
}
.license-block {
	padding: 51px 56px;
	padding-top: 0;
	max-width: 964px;
	margin: 0 auto;
	background: #a18bb8;
}
.license-block .row {
	margin: 0 -6px;
}
.license-block .row > div {
	padding: 0 6px;
}
.license-image img {
	max-width: 100%;
	margin: 0 auto;
	height: auto;
	display: block;
}
.btn-license {
	font-size: 30px;
	height: 94px;
	width: 373px;
	max-width: 100%;
	margin: 0 auto;
	top: -38px;
	margin-bottom: -16px;
	border: 12px solid #a18bb8;
	border-radius: 46px;
	color: var(--default-color);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: #f5f5f5;
	position: relative;
}
.btn-license span {
	font-size: 21px;
	width: 51px;
	height: 24px;
	bottom: -12px;
	left: 0;
	right: 0;
	margin: 0 auto;
	color: var(--light-color);
	position: absolute;
	text-transform: uppercase;
	background: #f82828;
	color: var(--light-color);
	font-family: 'Unica One';
	display: block;
}
.btn-license:hover {
	background-color: var(--light-color);
}
.wow:not(.animated) {
	visibility: hidden;
}

.page-regulations .title-page {
	margin-bottom: 28px;
}
.unit-documents__title {
	margin-bottom: 9px;
	font-weight: 600;
}
.unit-documents {
	margin-bottom: 68px;
}
.unit-documents:last-child {
	margin-bottom: 0;
}
.item-document {
	min-height: 90px;
	padding: 0 13px;
	padding-right: 200px;
	border-radius: 0 100px 100px 0;
	margin-bottom: 11px;
	background: var(--default-gradient);
	border-left: 3px solid var(--default-color);
	display: flex;
	align-items: center;
	color: var(--default-color);
	position: relative;
	z-index: 1;
}
.item-document::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	border-radius: 0 100px 100px 0;
	background: var(--custom-gradient);
	opacity: 0;
	transition: all 0.5s;
}
.item-document:hover::before {
	opacity: 1;
}
.item-document:last-child {
	margin-bottom: 0;
}
.item-document__icon {
	width: 73px;
	height: 73px;
	margin-right: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
}
.item-document__title {
	font-weight: 600;
	display: block;
}
.item-document__descr {
	font-size: 14px;
	line-height: 135%;
	color: #4d4a4a;
	margin-top: 2px;
	font-weight: 300;
	display: block;
}
.item-document__content {
	display: block;
}
.contacts {
	position: relative;
}
.contacts::before {
    position: absolute;
    display: block;
    content: " ";
    width: 377px;
    height: 1460px;
    top: -325px;
    left: -33px;
    z-index: -1;
    background-image: url(../img/bg_contacts.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.page-regulations {
	padding-bottom: 78px;
	position: relative;
}
.page-news::after,
.page-news::before,
.page-regulations::after,
.page-regulations::before {
	position: absolute;
    display: block;
    content: " ";
    width: 388px;
    height: 402px;
    top: 0px;
    right: 0px;
    z-index: -1;
    background-image: url(../img/bg_contacts.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.page-news::after,
.page-regulations::after {
	left: 0;
	bottom: 0;
	top: auto;
	right: auto;
}
.page-contacts .title-page {
	margin-bottom: 18px;
}
.schedule-block {
	margin-top: 26px;
	margin-bottom: 45px;
}
.page-contacts .title-page + .text-page strong {
	font-weight: 500;
}
.item-schedule {
	font-size: 27px;
	line-height: 33px;
	margin-bottom: 6px;
	display: flex;
	align-items: center;
}
.item-schedule__title {
	width: 89px;
	height: 51px;
	margin-right: 19px;
	border: 1px solid var(--default-color);
	border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: var(--unit-bg-color);
}
.item-schedule.active .item-schedule__title {
	background: var(--active-bg-color);
	backdrop-filter: blur(60px);
}
.schedule-block .text-page {
	margin-bottom: 26px;
	font-weight: 600;
}
.unit-contacts {
	margin-bottom: 52px;
}
.unit-contacts .text-page strong {
	font-weight: 600;
}
.text-middle {
	font-size: 25px;
	line-height: 30px;
}
.unit-contacts .text-middle {
	padding-bottom: 4px;
	opacity: 0.8;
}
.contacts-content {
	font-size: 27px;
	padding: 12px 24px;
	padding-right: 10px;
	margin-top: 14px;
	line-height: 33px;
	position: relative;
	z-index: 1;
	border-left: 3px solid var(--default-color);
}
.contacts-content::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: var(--custom-gradient);
	opacity: 0.6;
	border-radius: 0 10px 10px 0;
}
.contacts-content + .text-page {
	margin-top: 52px;
}
.unit-contacts .text-page a {
	color: var(--default-color);
}
.contacts-content__value {
	min-width: 104px;
	margin-right: 38px;
	display: inline-block;
	vertical-align: middle;
}
.contacts-content__descr {
	display: inline;
}
.line-contact span {
	font-size: 25px;
	opacity: 0.8;
}
.line-contact {
	margin-bottom: 6px;
}
.line-contact:last-child {
	margin-bottom: 0;
}
.page-contacts {
	padding-bottom: 78px;
	position: relative;
	background-image: url(../img/bg_page_contacts.svg);
	background-position: center 280px;
	background-repeat: repeat-x;
}
.page-contacts #map {
	margin-top: 120px;
}
.page-contacts::after {
	position: absolute;
    display: block;
    content: " ";
    width: 388px;
    height: 402px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    background-image: url(../img/bg_contacts.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.row_main .item-news {
	width: 100%;
}
.row_main .item-news__image {
	height: 282px;
}
.row_main .item-news__title {
	margin-bottom: 30px;
}
.row_main .item-news__content {
	padding-top: 21px;
	padding-bottom: 21px;
}
.item-news {
	border: 3px solid transparent;
	transition: all 0.3s;
}
.item-news:hover {
	border-color: var(--main-color);
}
.row.row_main {
	margin: 0 -22px;
}
.row.row_main > div {
	padding: 0 22px;
	margin-bottom: 44px;
}
.page-news .title-page {
	margin-bottom: 80px;
}
.page-news {
	padding-bottom: 16px;
	position: relative;
}
.pager {
	display: flex;
	align-items: center;
	justify-content: center;
}
.arrow-pager {
	width: 38px;
	height: 38px;
	margin: 0 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.arrow-pager path {
	fill: var(--custom-color);
}
.arrow-pager g {
	opacity: 0.7;
	transition: all 0.3s;
}
.arrow-pager.disabled path {
	fill-opacity: 0.5;
}
.arrow-pager:hover g {
	opacity: 1;
}
.page-news .pager {
	margin-top: -20px;
}
.page-article .text-middle {
	font-weight: 300;
}
.page-article .text-middle p {
	margin-bottom: 25px;
}
.page-article img {
	margin-bottom: 40px;
	border-radius: 46px;
	max-width: 100%;
	height: auto;
	display: block;
}
.page-article {
	padding-bottom: 70px;
	background-image: url(../img/bg_page_contacts.svg);
	background-position: center 450px;
	background-repeat: repeat-x;
}
.page-article h2 {
	margin-bottom: 24px;
	font-size: inherit;
	font-weight: 700;
}
.page-article .title-page {
	margin-bottom: 37px;
	padding-bottom: 3px;
}
.page-article .title-page span {
	font-size: 14px;
	margin-top: 6px;
	font-weight: 600;
	line-height: 20px;
	color: #4d4a4a;
	display: block;
}
.item-catalog {
	width: 100%;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100%;
	color: var(--default-color);
	border: 2px solid transparent;
}
.item-catalog:hover {
	border-color: var(--main-color);
}
.item-catalog__image {
	height: 210px;
	border-radius: 23px 23px 0 0;
	background: var(--stub-color);
	display: block;
	width: 100%;
}
.item-catalog__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 23px 23px 0 0;
	transition: all 1s;
}
.item-catalog__content {
	padding: 15px 20px;
	text-align: center;
	flex: 1;
	width: 100%;
	background: var(--block-bg-color);
	display: block;
	border-radius: 0 0 23px 23px;
}
.item-catalog__title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 600;
	width: 100%;
	display: block;
	text-align: center;
}
.row.row_catalog > div {
	margin-bottom: 30px;
}
.page-catalog .title-page {
	margin-bottom: 80px;
}
.page-catalog {
	padding-bottom: 50px;
}
.page-card {
	padding-bottom: 80px;
}
.page-card .title-page {
	margin-bottom: 80px;
}
.image-card {
	padding-bottom: 70px;
	margin-bottom: 70px;
	position: relative;
}
.image-card::after {
	position: absolute;
	display: block;
	content: " ";
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	max-width: 947px;
	background: var(--border-color);
}
.image-card img {
	border-radius: 46px;
	max-width: 100%;
	height: auto;
	display: block;
}
.item-document + .unit-documents__title {
	padding-top: 14px;
}
.item-question {
	margin-bottom: 11px;
}
.item-question__head {
	padding: 20px 26px;
	padding-right: 58px;
	border-left: 3px solid var(--default-color);
	cursor: pointer;
	transition: all 0.3s;
	font-weight: 600;
	display: flex;
	align-items: center;
	border-radius: 0 100px 100px 0;
	position: relative;
	z-index: 1;
}
.item-question__head::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	background: var(--custom-gradient);
	border-radius: 0 100px 100px 0;
	opacity: 0.6;
	transition: all 0.3s;
}
.item-question__number {
	width: 50px;
	height: 50px;
	font-size: 27px;
	margin-right: 25px;
	border: 2px solid var(--default-color);
	font-weight: 300;
	border-radius: 50%;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.item-question__content {
	padding: 17px 100px;
	font-weight: 300;
	display: none;
}
.item-question__content strong {
	font-weight: 600;
}
.item-question__arrow {
	width: 25px;
	height: 25px;
	margin-left: 58px;
	flex: none;
	transition: all 0.5s;
	background-image: url(../img/arrow_main.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.item-question.active .item-question__arrow {
	transform: rotate(90deg);
}
.item-question__head:hover::before,
.item-question.active .item-question__head::before {
	opacity: 1;
}
.list-questions {
	counter-reset: list1;
}
.item-question__number::before {
	counter-increment: list1;
	content: counter(list1); 
}
.page-questions .title-page {
	margin-bottom: 45px;
}
.page-questions {
	padding-bottom: 70px;
}
.page-payment .item-form {
	max-width: 541px;
}
.payment-form {
	padding-bottom: 64px;
	max-width: 947px;
	border-bottom: 1px solid var(--border-color);
}
.page-payment .title-page {
	margin-bottom: 26px;
	padding-bottom: 0;
	border: none;
}
.total-form {
	padding-top: 77px;
	display: none;
}
.page-payment {
	padding-bottom: 80px;
}
.page-payment .btn-main {
	margin-top: 7px;
}